.home-body-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 71px);

    max-width: 1500px;
    margin: 0 auto;
    gap: 70px;
    animation: fade-in .35s ease;
}

.home-content {
    flex: 1;
}

.home-badge {
    display: inline-flex;
    align-items: center;
    padding: 9px 17px;
    border-radius: 999px;
    background: var(--color-primary-smooth);
    color: var(--color-primary);
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.home-title {
    font-size: 4.15rem;
    line-height: 1.05;
    font-weight: 800;
    color: var(--text-primary);
    margin-bottom: 26px;
}

.home-title span {
    font-size: 3.8rem;
    color: var(--color-primary);
}

.home-description {
    font-size: 1.3rem;
    line-height: 1.75;
    color: var(--text-secondary);
    margin-bottom: 42px;
    font-weight: 500;
}

.home-buttons {
    display: flex;
    gap: 18px;
    margin-bottom: 38px;
}

.home-buttons img {
    padding: 5px;
}

.home-btn-primary,
.home-btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 58px;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    transition: var(--transition-fast);
}

.home-btn-primary {
    border: none;
    background: var(--color-primary);
    color: var(--background-secondary);
}

.home-btn-primary:hover {
    background: var(--color-primary-hover);
    transition: var(--transition-icon);
}

.home-btn-primary img {
    filter: brightness(0) invert(1);
}

.home-btn-primary:hover .home-flecha-cont {
    animation: arrow-move var(--transition-fast) forwards;
}

.home-btn-secondary {
    background: var(--background-secondary);
    border: 1px solid var(--border-hover);
    color: var(--text-primary);
}

.home-btn-secondary:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.home-btn-secondary:hover img,
.home-btn-secondary:hover svg {
    filter: invert(54%) sepia(94%) saturate(1876%) hue-rotate(352deg) brightness(101%) contrast(96%);
}

.home-btn-secondary img {
    height: 19px;
    filter: brightness(0) invert(20%);
}

.home-benefits {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.benefit {
    display: flex;
    align-items: center;
    gap: 9px;
    color: var(--text-secondary);
    font-size: 1rem;
    font-weight: 500;
}
